<!DOCTYPE html>
<html>
<head>
  <title>NewsLinks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <h1><%= link_to "News Links", posts_path %></h1>
  <%= link_to "Add Post", new_post_path %>

</nav>

<%= flash[:alert] %>
<%= flash[:notice] %>

<%= yield %>

</body>
</html>
